<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/css/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/font-awesome/4.5.0/css/font-awesome.min.css') }}" />
<!-- ace styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/css/ace.min.css') }}" class="ace-main-stylesheet" id="main-ace-style" />
<!--[if !IE]> -->
<script src="{{ url_for('static', filename='ace/assets/js/jquery-2.1.4.min.js') }}"></script>
<!-- <![endif]-->

<!--[if IE]>-->
<script src="{{ url_for('static', filename='ace/assets/js/jquery-1.11.3.min.js') }}"></script>
<!-- <![endif]-->
<script src="{{ url_for('static', filename='ace/assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='ace/assets/js/bootbox.js') }}"></script>

<html>
    <body class="modal-open">
        <div class="bootbox modal fade bootbox-prompt in" tabindex="-1" role="dialog" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Generate Commit Token</h4>
                    </div>
                    <div class="modal-body">
                        <div class="bootbox-body">
                            <form name="submit-form" class="bootbox-form" action="/commit/token" method="POST">
                                <input id="username" name="username" class="bootbox-input bootbox-input-text form-control" autocomplete="off" type="text" placeholder="username" required>
                                <br>
                                <input id="password" name="password" class="bootbox-input bootbox-input-text form-control" autocomplete="off" type="password" placeholder="password" required>
                                <br>
                                <input id="session_token" name="session_token" class="bootbox-input bootbox-input-text form-control" autocomplete="off" type="text" placeholder="user_session_token" required>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-bb-handler="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button data-bb-handler="confirm" type="button" id="modal-submit" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade in"></div>
    </body>
</html>

<script type="text/javascript">
    $(function() {

        $('#modal-submit').on('click', function(e) {
            var session_token = $('#session_token').val();
            var username = $('#username').val();
            var password = $('#password').val();
            if (!session_token || !username || !password) {
                alert('please fill all field');
            } else {
                $("form[name='submit-form']").submit();
            }
        });
    });
</script>