<!DOCTYPE html>
<html lang="en">
	<head>
		<style type="text/css" media="screen">
        .ace_editor {
            border: 1px solid lightgray;
            margin: auto;
            width: 100%;
            height: 400px;
        }
        </style>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Odoo Shell Editor</title>

		<meta name="description" content="Common form elements and layouts" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/font-awesome/4.5.0/css/font-awesome.min.css') }}" />

		<!-- text fonts -->
		<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/css/fonts.googleapis.com.css') }}" />

		<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/css/jquery.gritter.min.css') }}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/css/ace.min.css') }}" class="ace-main-stylesheet" id="main-ace-style" />

	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default          ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="/" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							Odoo Shell
						</small>
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="{{ url_for('static', filename='ace/assets/images/avatars/user.jpg') }}" alt="{{ display_name|safe }}'s Photo" />
								<span class="user-info">
									<small>Welcome,</small>
									{{ display_name|safe }}
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#">
										<i class="ace-icon fa fa-cog"></i>
										Settings
									</a>
								</li>

								<li>
									<a href="profile.html">
										<i class="ace-icon fa fa-user"></i>
										Profile
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="/logout">
										<i class="ace-icon fa fa-power-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">

				<ul class="nav nav-list">
					<li class="active">
						<a href="#">
							<i class="menu-icon fa fa-pencil-square-o"></i>
							<span class="menu-text"> Editor </span>
						</a>

						<b class="arrow"></b>
					</li>

				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li class="active">
								Source Code
							</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								Source Code
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Write your python code here
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">

							<div class="col-xs-6">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-sm-2 control-label" for="commit_token"> Commit Token </label>
										<input class="col-sm-9" type="text" id="commit_token" name="commit_token" placeholder="Commit Token" />
									</div>
								</form>
							</div>

							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form">

									<div class="hr hr-24"></div>

									<div class="row">
										<div class="col-xs-12 col-sm-12">
											<div class="widget-box">
												<div class="widget-header">
													<h4 class="widget-title">Editor</h4>

													&nbsp; &nbsp;
													<button class="btn btn-xs btn-green btn-success btn-bold" id="run" name="run">
														<i class="ace-icon fa fa-play bigger-120 blue"></i>
														Run
													</button>

													&nbsp;
													<button class="btn btn-xs btn-red btn-danger btn-bold" id="stop" name="stop">
														<i class="ace-icon fa fa-stop bigger-110"></i>
														Stop
													</button>

													&nbsp;&nbsp;&nbsp;&nbsp;

													( MY_SESSION_TOKEN = <span id="my_session_token"> {{ my_session_token|safe }} </span> )
													<button title="copy to clipboard" class="btn btn-xs btn-grey btn-bold" id="copy-to-clipboard" name="copy-to-clipboard">
														<i class="ace-icon fa fa-clipboard bigger-110"></i>
													</button>
												</div>

												<div class="widget-body">
													<div class="widget-main">
														<div id="editor"></div>

														<hr />

														<div>
															<label for="form-field-8">Output</label>
															<textarea id="output" name="output" class="form-control" id="form-field-8" placeholder=">>>" rows="10" disabled></textarea>
														</div>

														<hr />
													</div>
												</div>
											</div>
										</div><!-- /.span -->

									</div><!-- /.row -->

									<div class="space-24"></div>

								</form>

								<div class="hr hr-18 dotted hr-double"></div>

							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Ace</span>
							Application &copy; 2013-2014
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!--[if !IE]> -->
		<script src="{{ url_for('static', filename='ace/assets/js/jquery-2.1.4.min.js') }}"></script>
		<!-- <![endif]-->

		<!--[if IE]>-->
		<script src="{{ url_for('static', filename='ace/assets/js/jquery-1.11.3.min.js') }}"></script>
		<!-- <![endif]-->

		<script src="{{ url_for('static', filename='ace/assets/js/bootstrap.min.js') }}"></script>

		<script src="{{ url_for('static', filename='ace/assets/js/jquery.gritter.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/preloader/jquery.preloaders.js') }}"></script>

		<!-- inline scripts related to this page -->
		<script src="{{ url_for('static', filename='ace-builds/src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {

				// copy to clipboard
				$('#copy-to-clipboard').on('click', function(e) {
					var $temp = $("<input>");
				  	$("body").append($temp);
					$temp.val($('#my_session_token').text().trim()).select();
					document.execCommand("copy");
					$temp.remove();
					$.gritter.add({
						title: 'Copied',
						text: $('#my_session_token').text(),
						class_name: 'gritter-info gritter-center'
					});
				});

				// func to run
				$.fn.run_shell = function(endpoint, expr, commit_token) {
					return $.ajax({
						url: endpoint,
						type: 'POST',
						dataType: 'JSON',
						data: JSON.stringify({'commit_token': commit_token, 'expr': expr, 'secret_key': "{{ secret_key|safe }}"}),
						contentType: 'application/json',
						beforeSend: function() {
							$.preloader.start({
								modal: true,
								src: './static/vendor/img/sprites2.png'
							});
						},
						complete: function() {
							$.preloader.stop();
						},
						success: function(data, textStatus, jqXHR) {
							$('textarea#output').val("");
							$.each(data, function(key, value) {
								$.each(value, function(idx, output) {
									var current_val = $('textarea#output').val();
									if (current_val) {
										current_val = current_val + '\n>>> ' + output;
									} else {
										current_val = '>>> ' + output;
									}
									$('textarea#output').val(current_val);
								});
							});
						},
						error: function(msg) {
							if (msg.hasOwnProperty('responseText')) {
								//alert(msg.responseText);
								var responseText = JSON.parse(msg.responseText);
								if (responseText.hasOwnProperty('data')) {
									$.gritter.add({
										title: 'Error',
										text: JSON.parse(msg.responseText).data,
										class_name: 'gritter-error gritter-center'
									});
								} else {
									$.gritter.add({
										title: 'Error',
										text: msg.responseText,
										class_name: 'gritter-error gritter-center'
									});
								}
							}
						}
					});
				}

				$('textarea#output').val("");
				var editor = ace.edit("editor");
				editor.focus();
				editor.setTheme("ace/theme/chrome");
				editor.session.setMode("ace/mode/python");
				$('#editor').css('fontSize', '17px');

				$('button').on('click', function(e) {
					e.preventDefault();
					var btnName = $(this).attr('name');
					if (btnName == "run") {
						var expr = editor.getValue();
						if (!expr) {
							$.gritter.add({
								title: 'Please fill the code block',
								text: 'Example: print("Hello World")',
								class_name: 'gritter-info gritter-center'
							});
						} else {

							var run_expr = false;
							if (expr.toLowerCase().includes('cr.commit') || expr.toLowerCase().includes('env.cr.commit') || expr.toLowerCase().includes('.commit()')) {
								var commit_token_val = $('#commit_token').val();
								if (commit_token_val) {
									run_expr = true;
								}
							} else {
								run_expr = true;
								var commit_token_val = false;
							}

							// USING AJAX
							if (run_expr) {
								$().run_shell("/run", expr, commit_token_val).done(function(result) {
									editor.focus();
								});
							} else {
								$.gritter.add({
									title: 'Please fill the commit token',
									text: 'Please fill the commit token before you run the block code',
									class_name: 'gritter-warning gritter-center'
								});
							}
						}
					} else if (btnName == "stop") {
						$.gritter.add({
							title: 'This button not ready yet',
							text: 'Please be patient',
							class_name: 'gritter-warning gritter-center'
						});
					}
				});
			});
		</script>
	</body>
</html>
