<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Login Page - Odoo Shell</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/font-awesome/4.5.0/css/font-awesome.min.css') }}" />

		<!-- text fonts -->
		<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/css/fonts.googleapis.com.css') }}" />

		<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/css/jquery.gritter.min.css') }}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{{ url_for('static', filename='ace/assets/css/ace.min.css') }}" />

	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<span class="blue">{{ company_name }}</span>
									<span class="purple" id="id-text2">Odoo</span><span class="red"> Shell <span>
								</h1>
<!--								<h4 class="blue" id="id-company-text">&copy; PT. Paragon Technology and Innovation</h4>-->
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="ace-icon fa fa-coffee green"></i>
												Please Enter Your Information
											</h4>

											<div class="space-6"></div>

											<form role="form" method="POST" action="/login">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" name="username" id="username" class="form-control" placeholder="Username" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="password" id="password" class="form-control" placeholder="Password" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<div class="space"></div>

													<div class="clearfix">

														<button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">Login</span>
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>

										</div><!-- /.widget-main -->

										<div class="toolbar clearfix">
											<div>

											</div>

											<div>

											</div>
										</div>
									</div><!-- /.widget-body -->
								</div><!-- /.login-box -->

							</div><!-- /.position-relative -->

						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="{{ url_for('static', filename='ace/assets/js/jquery-2.1.4.min.js') }}"></script>
		<!-- <![endif]-->

		<script src="{{ url_for('static', filename='ace/assets/js/jquery.gritter.min.js') }}"></script>

		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					$.gritter.add({
						title: 'Error',
						text: "{{ '\n'.join(messages) }}",
						class_name: 'gritter-error gritter-center'
					});
				{% endif %}
			{% endwith %}
		</script>
	</body>
</html>
